a2wsgi==1.10.10
aioboto3==15.5.0
aiomcache==0.8.2
aioquic==1.3.0
AppKit==0.2.8
apport_python_hook==0.1.0
asgiref==3.11.1
asyncpg==0.31.0
atheris==3.0.0
backports.statistics==0.1.0
better_exceptions==0.3.3
brotli==1.2.0
brotlicffi==1.2.0.1
cffi==2.0.0
chardet==7.4.3
colorama==0.4.6
cython==3.2.4
diskcache==5.6.3
Django==6.0.4
elastic_transport==9.2.1
eval_type_backport==0.3.1
fakeredis==2.35.1
fqdn==1.5.1
greenlet==3.4.0
griffecli==2.0.2
gunicorn==25.3.0
httptools==0.7.1
hvac==2.4.0
hypothesis==6.151.11
Image==1.5.33
importlib_resources==7.1.0
ipython==9.12.0
ipywidgets==8.1.8
isoduration==20.11.0
jsonpath_ng==1.8.0
jsonpointer==3.1.1
linux_aio==0.4.1
mypy_boto3_secretsmanager==1.42.8
outcome==1.3.0.post0
pathvalidate==3.3.1
Pillow==12.2.0
pluggy==1.6.0
prefab_ui==0.19.1
pycryptodome==3.23.0
pycryptodomex==3.23.0
pydantic_monty==0.0.16
pymongo==4.17.0
pyperf==2.10.0
pytest==9.0.3
pytest_asyncio==1.3.0
python_bcrypt==0.3.2
python_socks==2.8.1
qtpy==2.4.3
recommonmark==0.7.1
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rfc3987_syntax==1.1.0
rocksdict==0.3.29
setuptools==82.0.1
shtab==1.8.0
sniffio==1.3.1
socksio==1.0.0
speedups==2.1.0
SQLAlchemy==2.0.49
taskgroup==0.2.2
testpath==0.6.0
thread==2.0.6
tomli==2.4.1
typer==0.24.1
types_aiobotocore_dynamodb==3.4.0
types_aiobotocore_s3==3.4.0
uri_template==1.3.0
watchdog==6.0.0
webcolors==25.10.0
winloop==0.6.2
zope==6.0
zstandard==0.25.0
